<div class="container pt-5 pb-3 mb-3" >
    <div class="container border mb-5 mt-5 col-4">
      <!-- <div class="authBlock border"> -->
        <div>
            <h1 class="text-center" >Reset password</h1>
        </div>
  
        <p class="text-center text-white">Please enter your email address to request a password reset.</p>
  
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
        </div>
      <!-- </div> -->
  
      <div class="redirectToLogin">
        <span class="text-white" >Go back to <span class="redirect" routerLink="/sign-in">Log In</span></span>
      </div>
  
    </div>
  </div>