<table class="table mt-3 pl-9"> <!-- [hidden]="contador==0" -->
    <thead class="thead-light">
        <tr class="">
            <!-- <th>ID</th> -->
            <th>Nombre</th>
            <th>DUI</th>
            <th>Medicamento</th>
            <th>Costo</th>
            <!-- <th>Descuento</th>     ARREGLAR-->
            <th>visitas</th>
            <th class="text-center">Opciones</th>
            <!-- <th>{{contador}} </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of productList">
            <!-- <td class="table-info">{{cliente.id}} </td> -->
            <td class="table-info">{{pro.nombre}} </td>
            <td class="table-info">{{pro.dui}} </td>
            <td class="table-info">{{pro.medicamento}} </td>
            <td class="table-info">$ {{pro.costo}} </td>
            <!-- <td class="table-info">$ {{cliente.desc}} </td>    ARREGLAR-->
            <td class="table-info">{{pro.visitas}} </td>
            <td class="table-info">
                <a class="btn btn-secondary text-white" (click)="onEdit(pro)" >
                    <i class="far fa-edit">Edit</i>
                </a>
                <a class="btn btn-danger text-white" (click)="onDelete(pro.$key)">
                    <i class="fas fa-trash-alt" ></i>
                </a>
            </td>
        </tr>
        <!-- <tr>Registro(s): {{contador}} </tr> -->
    </tbody>
</table>