
<nav class="navbar navbar-collapse navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        <h1>Clinica de Lisseth</h1>
    </a>
</nav>

<body>
    <app-products></app-products>
</body>

<style>
    body{
        background: #abbaab;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>

